body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}
body.dark-mode {
    background-color: #121212;
    color: #f5f5f5;
}
h1 {
    font-family: "Cinzel", serif;
    text-align: center;
}
.linha {
    border: none;
    height: 2px;
    background-color: #000000;
    width: 100%;
    margin: 10px 0 30px 0;
}
body.dark-mode .linha {
    background-color: #ffffff;
}
.container {
    max-width: 880px;
    margin: 0 auto;
    padding: 20px;

    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    transition: background-color 0.3s;
}

/* versão escura */
body.dark-mode .container {
    background-color: rgb(54, 60, 61);
}

/*  Links  */
a {
    margin-right: 20px;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.laranja {
    color: #884d00;
}
body.dark-mode .laranja {
    color: #ff8400;
}

.azul {
    color: rgb(1, 1, 135);
}
body.dark-mode .azul {
    color: #0044ff;
}
.links {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.link-box {
    display: inline-block;
    padding: 10px 18px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.05);
    transition: 0.03s;
    font-weight: 600;
}
.link-box:hover {
    background-color: rgba(0, 0, 0, 0.15);
    transform: scale(1.03);
}
body.dark-mode .link-box {
    background-color: rgba(255, 255, 255, 0.1);
}
/* Botão de alternar tema  */
#toggle-theme {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: #ddd;
    color: black;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.2s;
}

body.dark-mode #toggle-theme {
    background-color: #333;
    color: white;
}
